@page
@model TH_CoreRazorContoso.Pages.HelloModel
@{
    ViewData["Title"] = "Hello";
}

    <header class="jumbotron">
        <h2>Exanple Razor Page with Model</h2>
        <p>
            This page will prompt the user to enter their
            name and click on a button.  It will then say
            hello to the user.
        </p>
    </header>
    <section>
        <form>

        </form>
    </section>

